language: go
go:
  - 1.14.x
stages:
  - test
  - release
jobs:
  include:
    - stage: test
      script: make test
      after_script:
        - go get -u -v github.com/mattn/goveralls
        - $HOME/gopath/bin/goveralls -coverprofile=cover.out -service=travis-ci
    
    - stage: release
      if: tag IS present
      before_install:
        - curl -fsSL https://get.docker.com | sh
        - echo '{"experimental":"enabled"}' | sudo tee /etc/docker/daemon.json
        - mkdir -p $HOME/.docker
        - echo '{"experimental":"enabled"}' | sudo tee $HOME/.docker/config.json
        - sudo service docker start
      install:
        - docker run --rm --privileged multiarch/qemu-user-static --reset -p yes
      script: ./scripts/release.sh
      skip_cleanup: true
      on:
        tags: true
